<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @company.activity %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Number:</strong>
  <%= @company.number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Web:</strong>
  <%= @company.web %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Member:</strong>
  <%= @company.member %>
</p>

<p>
  <strong>Event:</strong>
  <%= @company.event %>
</p>

<p>
  <strong>Allowed:</strong>
  <%= @company.allowed %>
</p>

<p>
  <strong>Note:</strong>
  <%= @company.note %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
